In [18]:
import psycopg2
import csv
import pandas as pd

In [19]:
conn = psycopg2.connect(
    database="postgres",
    user='postgres',
    password='Samara1!',
    host='localhost',
    port='5432'
)

cursor = conn.cursor()

In [20]:
with open('GameLinks/HistoricalRegular1990to2021.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

In [16]:
#pd.DataFrame(data)

                                    0     1    2  3  4  5
0       /boxes/SDN/SDN202104010.shtml  2021  ARI  1  0  0
1       /boxes/SDN/SDN202104020.shtml  2021  ARI  1  0  0
2       /boxes/SDN/SDN202104030.shtml  2021  ARI  1  0  0
3       /boxes/SDN/SDN202104040.shtml  2021  ARI  1  0  0
4       /boxes/COL/COL202104060.shtml  2021  ARI  1  0  0
...                               ...   ...  ... .. .. ..
137245  /boxes/BOS/BOS199009290.shtml  1990  TOR  1  0  0
137246  /boxes/BOS/BOS199009300.shtml  1990  TOR  1  0  0
137247  /boxes/BAL/BAL199010010.shtml  1990  TOR  1  0  0
137248  /boxes/BAL/BAL199010020.shtml  1990  TOR  1  0  0
137249  /boxes/BAL/BAL199010030.shtml  1990  TOR  1  0  0

[137250 rows x 6 columns]

In [21]:
for d in data:
    cursor.execute("INSERT into etl.game_links(link_url, calendar_year, team, is_regular, is_playoff, is_spring) VALUES (%s, %s, %s, %s, %s, %s)", d)
  
  
print("List has been inserted to employee table successfully...")

List has been inserted to employee table successfully...

In [22]:
conn.commit()
conn.close()